@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --main: #1D2330,
  --complementary: #134C63,
  --accent: #87D67F,
  --highlight: #F9F871,
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none
}
